*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*en tête*/
header{
    background-color: #0F172A;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5)}

/*barre de navigation*/
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*lien du menu*/
nav a{
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/*contenu de la page*/
body{
    background-color: #0F172A;
    font-family: "Roboto", sans-serif;
    color: white;
    
}
.banner{
    padding: 20px;
}
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
    padding: 60px;
    border-radius: 20px;
    color: white;
    line-height: 1.6;
}
/*partie du texte*/
.div1 h4{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}
.image{
    position: relative;
}
.image img{
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}
button{
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: blue;
}
button a{
    text-decoration: none;
    color: white;
}
.btn1{
    border: none;
}

/*section à propos*/
.about{
    padding-top: 20px;
   border: 1px solid white;
    border-radius: 5px;
    /*padding: 20px;*/
    background-color: #060f25;
    padding: 60px;
    border-radius: 20px;
    justify-content: space-between;
}
.about1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ligne {
    border-left: 2px solid white;
    height: 100px;
}

.info{
    margin-left: 20px;
    line-height: 1.6;
}
.info2{
    line-height: 1.6;
}
.info3{
    display: flex;
}
.nom{
    display: flex;
}
.mail{
    display: flex;
}
.loca{
    display: flex;
}
.heure{
    display: flex;
}
.job{
    display: flex;
}
/*section work*/
/*section cv*/
/*section contact*/